<mat-card class="container">
    <h2>Adicionar Pedido</h2>
    
    <form [formGroup]="newSaleForm" (ngSubmit)="create()">
      <mat-form-field class="full-width">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao">
        <mat-error *ngIf="newSaleForm.controls['descricao'].invalid && newSaleForm.controls['descricao'].touched">
          A descrição deve ter pelo menos 3 caracteres.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="valor">
        <mat-error *ngIf="newSaleForm.controls['valor'].invalid && newSaleForm.controls['valor'].touched">
          O valor deve ser maior que zero.
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="newSaleForm.invalid">
        Adicionar Pedido
      </button>
    </form>
</mat-card>
  