<div class="container">
    <h2>Sales</h2>
  
    <button mat-raised-button color="primary" (click)="showCreateSaleModal()">
      + New
    </button>
  
    <table mat-table [dataSource]="sales" class="mat-elevation-z8">
      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let pedido"> {{ pedido.id }} </td>
      </ng-container>
  
      <!-- Descrição -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let pedido"> {{ pedido.descricao }} </td>
      </ng-container>
  
      <!-- Valor -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let pedido"> {{ pedido.valor | currency }} </td>
      </ng-container>
  
      <!-- Ações -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let pedido">
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'descricao', 'valor', 'acoes']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'descricao', 'valor', 'acoes'];"></tr>
    </table>
  </div>
  